################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
*.user
*.lock.json
*.sln.GhostDoc.xml
*.nupkg
/src/ClassLibrary1/bin/Debug/net451
